{% extends "layout.html" %} {% block title %} Log In {% endblock %} {% block
main %}

<div class="container px-4" style="padding: 40px">
  <div class="row gx-5">
    <div class="col">
     <div class="p-3"> <div class="intro">
          <p><strong>Manage Your Time</strong></p>
        </div></div>
    </div>
    <div class="col box1">
      <div class="p-3">
        <form class="login inp" action="/login" method="post">
          <div>
            <div class="inp">
              <input type="text" class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username"/>
              <br>
              <input type="password" class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password"/>
            </div>
            <button class="btn btn-danger" >
              Log in
            </button>
          </form>
          <hr  style="width: 150px; margin: 10px; margin-left: 30px;">
            New User?
            <form action="/Sign-up" method="get">
              <button
                class="btn btn-danger"
                style="margin-bottom: 20px"
                type="submit">
                sign-up
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



{% endblock %}
