{% extends "layout.html" %} {% block title %} cs50 clinic {% endblock %} {% block
main %}
<form action="" method="post" name="myform">
    <div class="mb-3">
        <input autocomplete="off" required autofocus class="form-control mx-auto w-auto" required id="name" name="name" placeholder="patient name" type="text">
    </div>
    <div class="mb-3">
        <input type="date" name="date">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus required class="form-control mx-auto w-auto" id="Time" name="Time" placeholder="Time" type="text">
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="pro" name="pro" placeholder="procedure" type="text">
    </div>
        <button  class="btn btn-danger" type="submit">Add</button>
</form>

{% endblock %}